form(novalidate data-ng-switch-when="item" data-ng-switch="test.item.type")
  .form-group(data-ng-switch-when="single")
    label(data-ng-bind="test.item.text")
    .radio(data-ng-repeat="choice in test.item.choices")
      label
        input(type="radio" name="{{test.item._id}}" data-ng-value="choice" data-ng-model="test.choice")
        |  {{choice.text}}
    p(data-ng-class="test.choice.correct ? 'text-success' : 'text-warning'" data-ng-bind="test.choice.feedback||test.choice.correct ? 'Richtig.' : 'Leider nicht richtig.'" data-ng-show="test.guesses[test.item._id]")
  .form-group(data-ng-switch-when="multiple")
    label(data-ng-bind="test.item.text")
    .checkbox(data-ng-repeat="choice in test.choice")
      label
        input(type="checkbox" name="{{test.item._id}}" data-ng-model="choice.selected")
        |  {{choice.text}}
      p(data-ng-show="test.guesses[test.item._id]" data-ng-class="choice.correct===choice.selected ? 'text-success' : 'text-warning'" data-ng-bind="choice.correct===choice.selected ? choice.feedback.correct : choice.feedback.incorrect")
  .form-group
    button.btn.btn-primary(type="button" data-ng-click="test.guesses[test.item._id] ? test.next() : test.solve()" data-ng-bind="test.guesses[test.item._id] ? 'Weiter' : 'Auflösung'")
