include ../../mixins/sessko-item

.modal-header
  h3 Selbsteinschätzung deiner Statistikkenntnisse
.modal-body
  form(name="sesskoForm" novalidate data-ng-if="fsk.user.data.fsk.length===0")
    +sessko-item("sessko1","Ich bin für Statistik …","nicht begabt","sehr begabt")(data-ng-model="fsk.sessko[0]")
    +sessko-item("sessko2","Neues zu lernen in Statistik, fällt mir …","schwer","leicht")(data-ng-model="fsk.sessko[1]")
    +sessko-item("sessko3","Ich bin in Statistik …","nicht intelligent","sehr inntelligent")(data-ng-model="fsk.sessko[2]")
    +sessko-item("sessko4","Meine statistikbezogenen Fähigkeiten sind …","niedrig","hoch")(data-ng-model="fsk.sessko[3]")
    +sessko-item("sessko5","Statistische Aufgaben fallen mir …","schwer","leicht")(data-ng-model="fsk.sessko[4]")
  form(novalidate name="sesskoForm2" data-ng-if="fsk.user.data.fsk.length>0")
    +sessko-item("sessko1","Nach der Bearbeitung des WBTs halte ich meine Begabung für Statistik jetzt für …","geringer als zuvor","höher als zuvor")(data-ng-model="fsk.sessko[0]")
    +sessko-item("sessko2","Nach der Bearbeitung des WBTs fällt mir das Lernen von neuen statistischen Inhalten jetzt …","schwerer als zuvor","leichter als zuvor")(data-ng-model="fsk.sessko[1]")
    +sessko-item("sessko3","Nach der Bearbeitung des WBTs komme ich mit den Anforderungen in Statistik …","schlechter zurecht als zuvor","besser zurecht als zuvor")(data-ng-model="fsk.sessko[2]")
    +sessko-item("sessko4","Nach der Bearbeitung des WBTs bin ich jetzt …","schlechter in Statistik als zuvor","besser in Statistik als zuvor")(data-ng-model="fsk.sessko[3]")
    +sessko-item("sessko5","Nach der Bearbeitung des WBTs fallen mir jetzt die Aufgaben in Statistik …","schwerer als zuvor","leichter als zuvor")(data-ng-model="fsk.sessko[4]")
    +sessko-item("sessko6","Nach der Bearbeitung des WBTs halte ich meine statistikbezogenen Fähigkeiten für …","niedriger als zuvor","höher als zuvor")(data-ng-model="fsk.sessko[5]")
.modal-footer
  input.btn.btn-default(type="button" data-ng-click="fsk.cancel()" value="Abbrechen")
  input.btn.btn-primary(type="button" data-ng-click="fsk.ok()" value="Abschicken")