.jumbo-tron
  h2 Willkommen!
  h3 Das erwartet dich hier
  p Hier kannst du die Grundlagen der psychologischen Statistik kennenlernen und dir eine Vorstellung davon erschließen, wie und warum Statistik in der Forschung eingesetzt wird, was sie Leisten kann und was ihre Grenzen sind.. Falls du einfach nur die Inhalte deiner Statistikvorlesung etwas wiederholen möchtest oder gerade in der Klausur durchgefallen bist, laden wir dich genauso herzlich ein wie die Statistikanfänger.
  p Es gibt hier Lernkapitel, die sich jeweils mit einem bestimmten Themengebiet beschäftigen. Es gibt keine festgelegte Reihenfolge bei der Bearbeitung und du brauchst nicht alles von Anfang bis Ende durchzulesen, was hier zu finden ist. Manche Kapitel haben jedoch andere als Abhängigkeiten. Bearbeite am besten zuerst die Abhängigkeiten, bevor du ein solches Kapitel bearbeitest. Ein Kapitel besteht aus den Kernartikeln, die jeweils durch Zusätze ergänzt sind . Du kannst relativ flexibel entscheiden, ob und welche Zusätze du lesen möchtest.
  dl.dl-horizontal
    dt Aufgaben
    dd Die Einheit ist abgeschlossen, wenn du alle Aufgaben bearbeitet hast.
    dt Beispiele
    dd Wenn du mehr Hilfestellung oder Veranschaulichung brauchst, kannst du dir die Beispiele ansehen.
    dt Extras
    dd theoretischere Hintergrundinformationen, für den Fall, dass du noch Luft hast und es genauer wissen möchtest
  h3 Deine Mitarbeit ist gefragt
  p Du hast die Möglichkeit, Kapitel kurz mittels Rating zu bewerten, die du abgeschlossen hast. Mache bitte großzügigen Gebrauch davon. Die Ratings können beliebig oft geändert werden, du kannst also frei von der Leber weg bewerten.
  p Wir möchten nachvollziehen, ob und wie sich deine Selbsteinschätzung deiner Statistikkenntnisse durch die Benutzung dieser Webseite verändert. Deswegen kannst du nicht nur Bewertungen abgeben, sondern auch deine aktuellen Statistikkenntnisse einschätzen. Tue dies z.B., wenn du gerade ein Kapitel beendet hast oder wenn es dir gerade einfällt.
  p(ng-if="!main.user.authenticated"): a.btn.btn-primary(data-ui-sref="^.register") jetzt registrieren und anfangen.
