include ../../mixins/input.jade
.modal-header
  h3 Anmelden
.modal-body
  - var form="loginForm"
  form#login-form.form-horizontal(novalidate name=form role="form")
    +input("email","E-Mail-Adresse","email",{required: "Bitte gib eine E-Mail-Adresse an.", email: "Das ist keine gültige E-mail-Adresse.",userExists: "Dieser User existiert nicht."})(placeholder="name@provider.com" data-ng-model="login.name" required maxlength="20" user-check="exists" data-ng-model-options="{debounce: 500}")
      span.help-block(aria-live="assertive" data-ng-show="loginForm.email.$touched")
        span(ng-if="loginForm.email.$valid") Dieser User existiert.
        span(ng-if="loginForm.email.$pending") Prüfe Verfügbarkeit
    +input("password","Passwort","password")(ng-model="login.pass" required minlength="8" placeholder="unlösbar")
      span.help-block(data-ng-switch="login.message" aria-live="assertive")
        span(data-ng-switch-when="incorrect password") Das Passwort ist nicht korrekt.
        span(data-ng-switch-when="incorrect username") Der Benutzer existiert nicht.
.modal-footer
  input.btn.btn-default(type="button" value="abbrechen" data-ng-click="login.cancel()")
  input.btn(type="button" data-ng-class="{'btn-primary': loginForm.$valid, 'btn-danger': loginForm.$invalid}" value="anmelden" data-ng-click="login.login()")