include ../../mixins/input.jade
.modal-header
  h3 Anmelden
.modal-body
  form.form-horizontal(role="form" novalidate name="login.loginForm" data-ng-submit="login.login()")
    formly-form(model="login.data" fields="login.loginFields" form="login.loginForm")
.modal-footer
  input.btn.btn-default(type="button" value="abbrechen" data-ng-click="login.cancel()")
  input.btn(type="submit" form="login.loginForm" data-ng-class="{'btn-primary': login.loginForm.$valid, 'btn-danger': login.loginForm.$invalid}" value="anmelden")