include /mixins/submit

h3 Vega
.row: .col-xs-12
  form.form-horizontal(novalidate name="vega.specsForm" role="form")
    .form-group
      label.col-xs-2.control-label(for="selectSpec") Vega-Spec
      .col-xs-10
        select.form-control#selectSpec(ng-options="spec._id as spec.name for spec in vega.specs" ng-model="vega.selected" ng-change="vega.getSpec()")
          option(value="") Neue Spec
.row
  .col-sm-6
    form.form-horizontal(novalidate name="vega.form" ng-submit="vega.save()" role="form")
      formly-form(model="vega.model" fields="vega.fields" form="vega.form" options="vega.formOptions")
        .form-group
          .col-xs-offset-2.col-xs-10
            input.btn.btn-danger(type="button" value="Löschen" ng-click="vega.remove()" ng-if="vega.selected")
            input.btn(type="submit" value="{{vega.selected ? 'Aktualisieren' : 'Erstellen'}}" ng-class="{'btn-primary': vega.form.$valid, 'btn-danger': vega.form.$invalid}")
  .col-sm-6(ng-if="vega.model.spec")
    ng-vega(
      vega-spec="vega.model.spec"
      vega-renderer="vega.formOptions.formState.renderer"
    )
