.row: .col-xs-12
  div(ncy-breadcrumb)
  h2 Authorenmodus
  ul.nav.nav-tabs
    li(ui-sref-active="active"): a(ui-sref=".units") Kapitel
    li(ui-sref-active="active"): a(ui-sref=".vega") Vega
  div(ui-view)
    p Dies ist der Autorenmodus. Nur WBT-Autoren können ihn verwenden und mit seiner Hilfe die Inhalte des WBT bearbeiten.
