include /mixins/submit
h2 Download
p Falls du die Inhalte dieser Webseite gern als Textdokument archivieren möchtest, kannst du hier ein Dokument mit den von dir bearbeiteten Kapiteln herunterladen. Du kannst zwischen ein paar Formaten wählen und einstellen, welche Bestandteile du haben möchtest.
form.form-horizontal(novalidate name="downloadForm" role="form" method="get" action="api/downloads")
  input(type="hidden" name="token" ng-value="main.user.token")
  formly-form(model="download.data" fields="download.fields" form="download.form")
    +submit('Download')