include ../../mixins/checkbox-inline
include ../../mixins/radio-inline
include ../../mixins/submit
h2 Download
p Falls du die Inhalte dieser Webseite gern als Textdokument archivieren möchtest, kannst du hier ein Dokument mit den von dir bearbeiteten Kapiteln herunterladen. Du kannst zwischen ein paar Formaten wählen und einstellen, welche Bestandteile du haben möchtest.
form.form-horizontal(name="downloadForm" novalidate method="get" action="/statistikwbt/api/downloads")
  input(type="hidden" name="token" ng-value="main.identity.token()")
  .form-group
    label.col-xs-2 Kapitel
    .col-xs-10
      .checkbox(data-ng-repeat="unit in download.units")
        label
          input(type="checkbox" name="units" data-ng-value="unit._id" checked)
          |  {{unit.title}}
  +checkbox-inline("contents","Inhalte",{body: "Kerntexte",examples: "Beispiele",extras: "Extras"})(checked)
  .form-group
    label.col-xs-2 Dateiformat
    .col-xs-10
      label.radio-inline
        input(type="radio" name="format" value="docx" checked)
        span.fa.fa-file-word-o
        |  MS Word
      label.radio-inline
        input(type="radio" name="format" value="rtf")
        |  RTF
      label.radio-inline
        input(type="radio" name="format" value="epub")
        span.fa.fa-book
        |  Epub
      label.radio-inline
        input(type="radio" name="format" value="markdown")
        span.fa.fa-file-text-o
        |  Markdown
      label.radio-inline
        input(type="radio" name="format" value="latex")
        span.fa.fa-file-code-o
        |  LaTex
  +submit("Download")