include /mixins/menu-item.jade

nav.navbar.navbar-inverse.navbar-static-top(role="navigation"): .container-fluid
  .navbar-header
    button.navbar-toggle.collapsed(type="button" data-ng-click="main.menuCollapse=!main.menuCollapse" aria-controls="mainnav" aria-expanded="{{!main.menuCollapse}}" aria-label="{{main.menuCollapse ? 'Menü ausklappen' : 'Menü einklappen'}}")
      span.icon-bar
      span.icon-bar
      span.icon-bar
    a.navbar-brand(data-ui-sref=".home")
      span.fa.fa-home
      |  Statistik für Jedermann
  #mainnav.collapse.navbar-collapse(data-collapse="main.menuCollapse")
    ul.nav.navbar-nav.navbar-left
      +menu-item(".content","Inhalte","book")
      +menu-item(".author","Authorenmodus")
      +menu-item(".download","Download","download")
      +menu-item(".software","Statistiksoftware","calculator")
      +menu-item(".contact","Kontakt","support")
    ul.nav.navbar-nav.navbar-right(ng-if="!main.user.authenticated")
      li: button(type="button" data-ng-click="main.modals.login()")
        span.fa.fa-sign-in
        |  Anmelden
      +menu-item(".register","registrieren","user-plus")
    ul.nav.navbar-nav.navbar-right(data-ng-if="main.user.authenticated")
      li
        span.fa.fa-user
        |  {{main.user.data.profile.nickname||main.user.data.email}}
      li: button(type="button" data-ng-click="::main.user.inauthenticate()")
        span.fa.fa-sign-out(aria-hidden="true")
        |  Abmelden
.container(ui-view)
