h3 Subkapitel
ul.nav.nav-tabs
  li(ui-sref-active="active"): a(ui-sref=".basics") Grunddaten
  li(ui-sref-active="active"): a(ui-sref="examples") Beispiele
  li(ui-sref-active="active"): a(ui-sref="extras") Extras
ui-view