h3(data-ng-bind="topic.topic.subtitle ? topic.topic.title+': '+topic.topic.subtitle : topic.topic.title")
div(markdown="topic.topic.body" math-jax)
.btn-toolbar(role="toolbar")
  .btn-group
    .btn-group(dropdown is-open="status.examples" data-ng-if="topic.topic.examples.length>0")
      button.btn.btn-default.dropdown-toggle(type="button" dropdown-toggle)
        | Beispiele
        span.caret
      ul.dropdown-menu
        li(data-ng-repeat="example in topic.topic.examples")
          a.btn.btn-default(data-ui-sref=".example({example: example.title})" ng-bind="example.title")
    .btn-group(dropdown is-open="status.extras" data-ng-if="topic.topic.extras.length>0")
      button.btn.btn-default.dropdown-toggle(type="button" dropdown-toggle)
        | Extras
        span.caret
      ul.dropdown-menu
        li(data-ng-repeat="extra in topic.topic.extras")
          a.btn.btn-default(data-ui-sref=".extra({extra: extra.title})" data-ng-bind="extra.title")
  .btn-group(data-ng-if="main.user.authenticated")
    button.btn.btn-default(type="button" ng-click="main.modals.akzeptanz()") Kapitel bewerten
    button.btn.btn-default(type="button" data-ng-click="main.modals.fsk()") Statistikkenntnisse einschätzen
section(data-ui-view)