include /mixins/submit
h2 Registrieren
form.form-horizontal(novalidate role="form" name="register.form" ng-submit="register.register()")
  formly-form(model="register.model" fields="register.fields" form="register.form" options="register.formOptions")
    p Mit der Registrierung erklärst du dich mit folgenden Punkten einverstanden:
    ul
      li Wir behandeln deine Eingaben anonym und vertraulich.
      li Neben deinen explizit gemachten Angaben werden deine Bewegungen teilweise mit erfasst um dich nicht zusätzlich nach deiner Verweildauer, den von dir angefurften Inhalten o.Ä. fragen zu müssen.
      li Zu Forschungszwecken werten wir alle Nutzerdaten wissenschaftlich aus.
      li Wir behalten uns das Recht vor, dich zu Forschungszwecken über deine hier angegebene E-Mail-Adresse kontaktieren zu können.
    +submit('Registrieren')
