h3
  button.btn.btn-default(type="button" ng-click="units.collapse=!units.collapse")
    span.fa(ng-class="units.collapse ? 'fa-toggle-off' : 'fa-toggle-on'" aria-hidden="true")
    |  {{units.collapse ? 'einblenden' : 'ausblenden'}}
  br
  span Kapitelübersicht
div(collapse="units.collapse"): form.form-horizontal(novalidate name="unitsForm")
  .form-group
    label.col-xs-2.control-label(for="selectUnit") Kapitel
    .col-xs-10
      select.form-control#selectUnit(name="selectUnit" ng-model="units.selected" ng-options="u.title for u in units.units track by u._id")
  .form-group(ng-if="units.selected")
    label.col-xs-2 Funktionen
    .col-xs-10: .button-group
      a.btn.btn-primary(ui-sref="main.content.unit.description({unit: units.selected._id})") Anschauen
      a.btn.btn-default(ui-sref=".unit.basics({unit: units.selected._id})") Bearbeiten
      button.btn.btn-default(type="button" ng-click="units.remove()") Löschen
div(ui-view)
  h3 Neues Kapitel anlegen
  form.form-horizontal(novalidate name="newForm" ng-submit="units.save()")
    formly-form(model="units.new" fields="units.newFields" form="units.newForm")
      .form-group: .col-xs-offset-2.col-xs-10
        input.btn.btn-default(type="submit" value="Anlegen" ng-disabled="units.newForm.$invalid")
