h2 User test
form(novalidate name="testlogin" ng-submit="user.user.authenticate(user.loginData)")
  label
    input(type="email" name="email" data-ng-model="user.loginData.email")
    |  E-Mail
  label
    input(type="password" name="password" data-ng-model="user.loginData.password")
    |  Passwort
  input(type="submit" value="login")
  input(type="button" value="logout" ng-click="user.user.inauthenticate()")
p {{user.user.$storage}}
p {{user.loginData}}