form.form-horizontal(novalidate name="basics.form")
  formly-form(model="unit.unit" fields="basics.fields" form="basics.form")
  .alert.alert-success(ng-if="unit.patches.length===0" role="alert") alles hochgeladen
  .alert.alert-info(ng-if="unit.patches.length>0" role="alert") lade Änderungen hoch
  .alert.alert-danger(ng-if="unit.error" role="alert")
    button(type="button" ng-click="unit.unit=unit.recover") rückgängig
    span Fehler beim Hochladen
