h3(ng-bind="unit.unit.title")
ul.nav.nav-tabs
  li(ui-sref-active="active"): a(ui-sref=".basics") Grunddaten
  li(ui-sref-active="active"): a(ui-sref=".topics") Subkapitel
  li(ui-sref-active="active"): a(ui-sref=".tests") Testaufgaben
div(ui-view)
