doctype html
html(lang="de" ng-app="wbt" strict-di)
  head
    <base href="/statistikwbt/"/>
    title Statistik für Jedermann
    meta(charset="utf-8")
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet")
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet")
    link(href="styles.css" rel="stylesheet")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-aria.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-animate.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-sanitize.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.9.3/lodash.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/restangular/1.5.1/restangular.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/vega/1.5.0/vega.min.js")
    script(src="bundle.js")
  body(ng-cloak)
    ui-view
    script(src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML")
    script.
      MathJax.Hub.Config({
        tex2jax: {
          inlineMath: [['$','$'], ['\\(','\\)']],
          processEscapes: true
        }
      });