h4(ng-bind="to.label")
.repeatsection(ng-repeat="element in model[options.key]" ng-init="fields = copyFields(to.fields)")
  formly-form(
    fields="fields"
    model="element"
    bind-name="'formly_ng_repeat' + index + $parent.$index"
  )
  .form-group: .col-xs-offset-2.col-xs-10
    button.btn.btn-sm.btn-danger(ng-click="model[options.key].splice($index, 1)") Löschen
  hr
.form-group: .col-xs-offset-2.col-xs-10
  button.btn.btn-primary(type="button" ng-click="addNew()" ng-bind="to.btnText")
